.invisivel{
    display:none;
  }
  .visivel{
    display:inline;
  }
  .inicial {
    text-align: center;
    font-size: 100px;
    background-color: rgb(0, 0, 0);
    width: 150px;
    height: 200px;
    border: 15px solid rgb(128, 0, 0);
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
  }
  .acertou {
    text-align: center;
    color: yellow;
    background-color: LawnGreen;
    width: 150px;
    height: 200px;
    border: 15px solid yellow;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
  }
  .errou {
    text-align: center;
    font-size: 100px;
    color: white;
    background-color: red;
    width: 150px;
    height: 200px;
    border: 15px solid black;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    background-image: url(https://images.icon-icons.com/143/PNG/256/error_21089.png);
    background-size: 50%;
  }