.invisivel{
    display:none;
  }
  .visivel{
    display:inline;
  }
  .inicial {
    text-align: center;
    font-size: 100px;
    background-color: lightgrey;
    width: 150px;
    height: 200px;
    border: 15px solid rgb(16, 216, 242);
    padding: 10px;
    margin: 20px;
    
  }
  .acertou {
    text-align: center;
    color: yellow;
    width: 150px;
    height: 200px;
    border: 15px solid yellow;
    padding: 10px;
    margin: 20px;
  }
  .errou {
    text-align: center;
    font-size: 100px;
    color: white;
    background-color: red;
    width: 150px;
    height: 200px;
    border: 15px solid black;
    padding: 10px;
    margin: 20px;
  }
  h1{
    text-align: center;
    text-decoration:dashed;
    font-family: Impact;
    color:blue;
  }
  body{
    text-align: center;
    background-color: cyan;
  }
  div{
    background-color: rgb(204, 235, 234);
  }
  #instagram{
    width: 25%;
  }
